body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretchs;

}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 10vh;
    width: 100%;
    background-color: rgb(206, 206, 206);
}
#tinySquare {
    height: 7vh;
    width: 7vh;
    margin: 10px;
    background-color:#00b7ff;
}
p {
    position:static;
    margin:50px;
    margin-top: 50px;
    font-size: smaller;
}
#textDiv {
    position:static;
    height: 175px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.color1{
    height: 150px;
    width: 100%;
    background-color:rgb(0, 195, 255);
}
.color2{
    height: 150px;
    width: 100%;
    background-color:rgb(0, 255, 170);
}
.color3{
    height: 150px;
    width: 100%;
    background-color:rgb(0, 255, 76);
}
.color4{
    height: 150px;
    width: 100%;
    background-color:rgb(239, 255, 8);
}